fastapi==0.110.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.25
numpy==1.26.4
pandas==2.2.1
requests==2.32.0
openpyxl==3.1.2
python-multipart==0.0.7
psycopg2-binary==2.9.9
python-dotenv==1.0.1
yfinance==0.2.36
investpy
financedatabase